<!-- biblioteca/templates/partials/sidebar.html -->
{% load static %}
<aside class="sidebar">

  <div class="logo-area">
    <img src="{% static 'img/logo.png' %}" alt="Logo" />
  </div>

  <nav class="menu">
    <!-- NOVO ITEM: Home -->
    <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
      <span>🏠</span> Home
    </a>

    <a href="{% url 'livro-list' %}" class="{% if request.resolver_match.url_name == 'livro-list' %}active{% endif %}">
      <span>📚</span> Todos os Livros
    </a>

    <a href="{% url 'livro-create' %}" class="{% if request.resolver_match.url_name == 'livro-create' %}active{% endif %}">
      <span>➕</span> Adicionar Livros
    </a>

    <a href="{% url 'editora-list' %}" class="{% if request.resolver_match.url_name == 'editora-list' %}active{% endif %}">
      <span>🏢</span> Editoras
    </a>

    <a href="{% url 'autor-list' %}" class="{% if request.resolver_match.url_name == 'autor-list' %}active{% endif %}">
      <span>🖋️</span> Autores
    </a>

    <a href="{% url 'categoria-list' %}" class="{% if request.resolver_match.url_name == 'categoria-list' %}active{% endif %}">
      <span>📦</span> Categorias
    </a>
  </nav>

  <div class="logout">
   <a href="{% url 'logout' %}">
      <span>🚪</span> Encerrar Sessão
    </a>
  </div>

</aside>