/* Importa a fonte 'Lexend' do Google Fonts com múltiplos pesos */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600;700&display=swap');

body {
    font-family: 'Lexend', sans-serif;
    background: #f5f7fa;
    margin: 0;
}

.back-btn {
    position: absolute;
    top: 25px;
    left: 30px;
    font-size: 26px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.cabecalho-livro {
    text-align: center;
    margin-bottom: 30px;
        color: #004A46;
}

.cabecalho-livro .logo-site {
    width: 100px;
    margin-bottom: 10px;
}

.card-form {
    background: white;
    width: 80%;
    max-width: 1200px;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.09);
}

.linha-inputs {
    display: flex;
    justify-content: space-between;
    gap: 40px; /* espaço entre Nome e Sobrenome */
    margin-bottom: 30px;
}

.campo {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.campo label {
    font-weight: 600;
    margin-bottom: 8px;
}

.campo input {
    height: 38px;
    border-radius: 6px;
    border: 1px solid #cde7f1;
    padding: 8px 12px;
    font-size: 15px;
}

.btn-area {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-salvar {
    background-color: #019c99;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.btn-salvar:hover {
    opacity: .9;
}


/* POPUP */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup.hidden {
    display: none;
}

.popup-content {
    background: white;
    padding: 25px 40px;
    border-radius: 12px;
    width: 320px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
    position: relative;
}

.popup-close {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}

.popup-content h2 {
    margin-top: 10px;
    color: #007c7a;
}

.check {
    font-size: 28px;
}
