{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Editora</title>
    <link rel="stylesheet" href="{% static 'css/adicionar_editora.css' %}" />
</head>
<body>

    <a href="{% url 'tela_inicial' %}" class="back-btn">←</a>

    <div class="top-header">
        <img src="/static/img/logo.png" class="logo">
        <h1 class="titulo">Adicionar Categoria</h1>
    </div>

    <div class="container">
        <form action="{% url 'categoria-create' %}" method="POST">
            {% csrf_token %}

            <div class="form-group">

                <div class="campo">
                    <label>Nome da Categoria:</label>
                    <input type="text" name="nome" required>
                </div>

            </div>

            <div class="btn-area">
                <button class="btn-add">Adicionar Categoria</button>
            </div>

        </form>
    </div>

</body>
</html>
